
// How to use ? 

// ex:
// @include flexbox(row, space-between, center);


@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}